
// Font Family

$main_heading_font: 'pistoleer';
$default_font: 'SEGOEUI';

// FontWeight

$regular: 400;
$bold: 700;

// Colors

$Black_Color: #040406;
$Light_Black_Color: #333;
$gray-color: #EEEEEE;
$White_Color: #fff;
$Primary_Color: #D42B71;
$Primary_Dark_Color: #c0175d;
$Text_Color: #eee;
$Gray_Color: #EEEDF6;
$Gray_Background_Color: #F5F3F9;
$Light_Gray_Color: #FBFCFF;
$Light_Cream_Color: #e3edf7;
$Cream_Color: #d8e9fa;
$Purple_Color: #2E2545;
$Dark_Purple_Color: #1f1830;
$Light_Purple_Color: #33284d;
$Border_color: #D6D6E8;
$SubText_color: #696985;

// Media Query

$screen_399: 399px;
$screen_360: 360px;
$screen_480: 480px;
$screen_575: 575px;
$screen_767: 767px;
$screen_991: 991px;
$screen_1024: 1024px;
$screen_1199: 1199px;
$screen_1399: 1399px;